*.class
*.jar
*.war
*.ear
*.log
*.iml

.idea/
*.iws
*.ipr
*.iml
*.swp

.DS_Store
Thumbs.db

.gradle/
build/
out/

run/
**/run/
**/cache/
**/versions/
**/libraries/
**/logs/
**/crash-reports/
server.properties
eula.txt
*.db
*.lock
*.bat
*.sh

lombok.config

.env
*.key
*.pem
*.crt

*.tmp
*.bak
*.old

!.gitignore
